<div class="main-area">
    <div class="content-area">
        {% with messages = get_flashed_messages(category_filter=["message"]) %}
        {% if messages %}
        <div class="message"> {{messages[0]}} </div>
        {% endif %}
        {% endwith %}
        <div class="content-container">

            {% block tableContent %} {% endblock %}

            <div class="footer">
                <div class="pagination">
                    {% if has_prev %}
                    <a class="page-button previous" href="{{ url_for(request.endpoint, page=page-1) }}">
                        <img src="{{url_for('static', filename='img/PreviousPage.svg')}}">
                    </a>
                    {% endif %}
                    <div class="page-number">
                        {% if pages %}
                        <div class="current-page">{{ page }}</div>
                        <div class="page-separator">/</div>
                        <div class="page-count">{{ pages }}</div>
                        {% endif %}
                    </div>
                    {% if has_next %}
                    <a class="page-button next" href="{{ url_for(request.endpoint, page=page+1) }}">
                        <img src="{{url_for('static', filename='img/NextPage.svg')}}">
                    </a>
                    {% endif %}
                </div>
            </div>

        </div>
    </div>

    <div id="overlay" class="overlay" onclick="closeAllDialogs()"></div>