<div class="header-content">

    <div class="header-title">FileHub</div>

    <form class="search" action="{{ url_for('main.index') }}" method="get">
        <button class="search-button" type="submit">
            <img class="search-icon" src="{{url_for('static', filename='img/Search.svg')}}">
        </button>
        <input type="text" name="query">
    </form>

    {% if current_user.is_authenticated %}
    <div class="user-button dropdown-button" onclick="toggleDropdown('userDropdown')">
        <img src="{{url_for('static', filename='img/User.svg')}}">
    </div>

    <div class="dropdown-menu" id="userDropdown">
        <div class="dropdown-content">
            {% if current_user.is_admin %}
            <div class="dropdown-element">
                <a href="{{url_for('admin.files')}}">Admin panel</a>
            </div>
            {% endif %}
            <div class="dropdown-element">
                <a href="{{ url_for('auth.logout') }}">Log out</a>
            </div>
        </div>
    </div>
    {% else %}
    <a class="header-button login" href="{{ url_for('auth.login') }}">Log in</a>
    <a class="header-button sing-up" href="{{ url_for('auth.register') }}">Sing up</a>
    {% endif %}

</div>